h1.box {
    color: rgb(255, 255, 255);
    font-size: xx-large;
    padding-top: 12px;
    font-weight: 600;
    text-align: center;
}

p.box {
    color: white;
    text-align: center;
    font-weight: 400;
}

label {
    color:white;
    font-weight: 300;
}

* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    padding-bottom: -4px;
    font-size: 40px;
    font-weight: 700;
}

/* Rating System CSS */
/* The INPUT element tricks the text LABELS into being buttons */
.rating {
    display: inline-flex;
    flex-direction: row-reverse; /* Reverses the order of stars */
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding-top: 40px;
}

.rating input {
    display: none;
}

.rating label:before {
    content: "\2605"; /* Unicode character for a star */
    font-size: 35px;
    padding: 3px;
}

.rating label {
    color: #ccc;
    cursor: pointer;
}

.rating input:checked ~ label {
    color: #f9ca24; /* Color for selected stars */
}

.rating label:hover,
.rating label:hover ~ label {
    color: #f9ca24; /* Color for hovered stars */
}




